body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 600px;
    /* Set maximum width */
    width: 100%;
    /* Ensure responsiveness */
}

#header {
    background-color: #4caf50;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#header h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin: 0;
}

#header i {
    margin-right: 10px;
}

#quiz-container {
    padding: 20px;
    text-align: center;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#options {
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result-container {
    padding: 20px;
    text-align: center;
}