/* Set basic styling for the entire page */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Styling for the main container */
.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 600px;
    /* Set maximum width to ensure responsiveness */
    width: 100%;
}

/* Styling for the header section */
#header {
    background-color: #4caf50;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Styling for the header title */
#header h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin: 0;
}

#header i {
    margin-right: 10px;
}

/* Additional styling for the quiz guide page */
#guide-container {
    background-color: #4caf50;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#guide h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

#guide p {
    font-size: 16px;
    margin-bottom: 20px;
}

#start-btn {
    background-color: #fff;
    color: #4caf50;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#start-btn:hover {
    background-color: #e0e0e0;
}

/* Styling for the quiz container */
#quiz-container {
    position: relative;
    padding: 20px;
    text-align: center;
}

/* Styling for the page number */
#page-number {
    position: absolute;
    bottom: 20px;
    left: 15px;
    margin: 10px;
    font-size: 14px;
}

/* Styling for options container */
.options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Styling for option buttons */
.options-container button {
    width: 100%;
    text-align: left;
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.options-container button:hover {
    background-color: #45a049;
}

#options {
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result-container {
    padding: 20px;
    text-align: center;
}

.red {
    background-color: red !important;
}
